.accordion
  .accordion-item
    .accordion-header
      position: relative
      padding-top: 40px
      padding-bottom: 28px
      font-size: 36px
      line-height: 23.6px
      .accordion-btn
        position: absolute
        padding: 25px
        right: 10px
        top: 13px
        cursor: pointer
        i
          transition: transform .5s
          transform-origin: center
    .accordion-body
      padding-bottom: 26px
    &.accordion-item-open
      .accordion-header
        .accordion-btn
          i
            transform: rotate(180deg)