.btn
  width: 291px
  padding-top: 25px
  padding-bottom: 25px
  font-size: 22px
  line-height: 24px
  background-color: $accent
  border: 1px solid $accent
  border-radius: 8px
  color: white
  transition: background-color .5s
  &:visited, &:hover
    color: white
  &:hover
    background-color: #d92425
  &.transparent-btn
    background-color: transparent
    color: $text-color
    &:hover
      background-color: #d92425
      color: white
  &.white-btn
    background-color: white
    color: $text-color
    transition: color .5s
    &:hover
      color: transparentize($text-color, 0.3)
    &.transparent-btn
      background-color: transparent
      border-color: white
      color: white
      &:hover
        background-color: #d92425

.icon-btn
  background-color: transparent
  border: none
  font-size: 30px
  line-height: 30px
  padding: 5px
  width: auto
  height: auto
  border-radius: 0
  transition: color .3s

#thankYouPopup
  color: #5c5c5f
  font-size: 22px
  line-height: 26px
  .popup-header, .popup-socials, .popup-subtitle
    color: $text-color
    margin-top: 30px
    margin-bottom: 15px

.bg-grey
  background-color: $grey

.bg-black
  background-color: #000!important

.bg-red
  background-color: $accent
  color: white
  a
    color: white
  .alt-form
    .form-group
      input:not([type=submit])
        color: white
      label
        color: white

.bg-white-with-shadow
  background-color: white
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.07)

.request-form-wrapper
  margin-top: 44px
  background-color: white
  border-radius: 8px
  color: $text-color
  padding: 19px 21px
  .request-form-title
    font-size: 30px
    font-weight: 700

.mfp-close
  top: 10px
  right: 10px
  font-size: 50px
  font-weight: 300

.mfp-close-btn-in .mfp-close
  color: rgba(51, 51, 51, 0.8)

/* overlay at start */
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

/* content at start */
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0

.content-wrapper
  height: auto
  min-height: 100%

.owl-thumbs
  display: flex
  justify-content: space-between
  .owl-thumb-item
    display: block
    width: 100%
    background-color: transparent
    border: none
    padding: 0
    img
      width: 100%

.owl-carousel
  .owl-dots
    text-align: center
    .owl-dot
      display: inline-block
      margin: 20px 5px
      border: 1px solid $text-color
      width: 15px
      height: 15px
      border-radius: 50%
      &.active
        background-color: $text-color

.v-center > div
  display: inline-block
  vertical-align: middle
  float: none

@media screen and (max-width: 450px)
  .section-title
    font-size: 30px




