#companies
  padding-bottom: 50px
  text-align: center
  .owl-carousel.companies-carousel
    position: relative
    .owl-item
      display: table
      .item
        display: table-cell
        vertical-align: middle
        height: 100px
        img
          display: inline-block
          width: auto
          max-width: 80%
    .owl-nav
      position: absolute
      left: 0
      right: 0
      top: 45%
      .owl-next, .owl-prev
        position: absolute
        i
          font-size: 40px
      .owl-next
        right: -25px
      .owl-prev
        left: -25px
  .become-partner-btn
    margin-top: 50px

@media screen and (max-width: 768px)
  #companies
    .owl-carousel.companies-carousel
      width: 90%
      margin-left: auto
      margin-right: auto
