#posts
  padding-bottom: 70px
  .post-category
    display: block
    color: $text-color
    .post-category-inner
      height: 228px
      background: no-repeat center
      background-size: cover
      position: relative
      .post-category-name
        position: absolute
        width: 103px
        height: 49px
        background-color: $accent
        color: white
        border-radius: 8px
        text-align: center
        padding-top: 11px
        left: -7px
        top: -3px

@media screen and (max-width: 767px)
  #posts
    .post-category
      max-width: 500px
      margin-left: auto
      margin-right: auto
      margin-bottom: 40px