$services-bgc: #191818
#services
  padding-bottom: 10px
  background-color: $services-bgc
  color: white
  .container
    position: relative
  .service-item-title
    font-size: 30px
    margin-bottom: 21px
  .service-item-desc
    font-weight: 300
  .service-item-price
    font-size: 78px
  .service-item-details
    display: inline-block
    margin-top: 25px
    color: white
    i
      transition: margin-left .3s
      vertical-align: middle
      line-height: 19px
      font-size: 18px
    &:hover
      i
        margin-left: 7px
  .services-carousel-dots
    display: block
    text-align: center
    margin-top: 15px
    .owl-dot
      display: inline-block
      margin: 20px 5px
      border: 1px solid white
      width: 15px
      height: 15px
      border-radius: 50%
      &.active
        background-color: white
  .services-carousel-nav
    position: absolute
    left: 0
    right: 0
    top: 42%
    color: white
    &.disabled
      display: none
    .owl-prev, .owl-next
      position: absolute
      width: 33px
      height: 40px
      i
        font-size: 40px
    .owl-prev
      left: -30px
    .owl-next
      right: -30px

  .request-form-wrapper
    margin-top: 44px
    background-color: white
    border-radius: 8px
    color: $text-color
    padding: 19px 21px
    .request-form-title
      font-size: 30px
      font-weight: 700

@media screen and (max-width: 991px)
  #services
    .request-form-wrapper
      margin-bottom: 70px
    .services-carousel-nav
      top: 22%
@media screen and (max-width: 424px)
  #services
    .service-item-price
      font-size: 60px

