.section-title
  font-size: 48px
  line-height: 55px
  margin-bottom: 30px
  font-weight: 700
  text-align: left
  margin-top: 60px
.section-subtitle
  font-size: 30px
  font-weight: 300
  line-height: 35px
a
  color: $text-color
  transition: color .3s
  &:focus, &:hover
    text-decoration: none
    color: transparentize($text-color, 0.3)

h1
  font-size: 48px
  margin-top: 22px

@media screen and (max-width: 767px)
  .section-title
    font-size: 36px