.page-sub-title
  display: block
  font-size: 24px
  line-height: 23.6px
  font-weight: 700
  margin-bottom: 22px

.menu.inner-page-menu
  position: fixed
  z-index: 10
  height: auto
  min-height: 100%
  .menu-inner
    height: 100%
    .menu-header
      .logo
        display: none
    .menu-scroll-part
      height: auto

@media screen and (max-width: 767px)
  .page-sub-title
    margin-top: 30px
  .menu.inner-page-menu
    .menu-inner
      height: auto
      .menu-scroll-part
        height: auto